.themeSwitch {
  --size: 1.25rem;
  --fill: var(--accents-2);
  --fill-hover: var(--accents-1);
  background: none;
  border: none;
  padding: 0.5rem;
  inline-size: var(--size);
  block-size: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  & > svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
  }
}

.sunAndMoon {
  & :is(.moon, .sun) {
    fill: var(--accents-5);
    stroke: var(--fill);
    stroke-width: 2px;

    .themeSwitch:is(:hover, :focus-visible) > & {
      stroke: var(--fill-hover);
    }
  }

  & .sunBeams {
    stroke: var(--fill);
    stroke-width: 2px;

    .themeSwitch:is(:hover, :focus-visible) & {
      stroke: var(--fill-hover);
    }
  }
}
